page-about {
    .custom-font-size {
        font-size: 2.0rem;
        font-weight: bold;
      }
      .toolbar-background {
        background-color: #e3097d;
      }
      [text-color="my-custom-color"] {
        color: white;   
    }
    ion-icon {
        font-size: 25px; 
    }
}
